<div class="aboutcontent">
<div class="about-content">
  <h1>About LiebeMaus</h1>
  <p>LiebeMaus creates unique pieces from home to office accessories and furnitures which are handmade with all its intricate details to make it more personal.</p>
  <p class="intro-text">LiebeMaus creates handcrafted home pieces. Our design is inspired by Eurasian life's fusion.</p>
   <!-- Image Grid -->
  <div class="container-fluid">
  <div class="container-fluid image-grid">
    <div class="row">
     <!-- Column 1 -->
      <div class="col-lg-12">
        <%= image_tag 'BloomArmchair.png', class: "img-fluid", alt: 'logo' %>
      </div>
      <!-- End Column 1 -->
      </div><!-- /Column 1 -->
       <!-- Column 2 -->
      <div class="col-lg-12">
        <%= image_tag 'Peacockchair.png', class: "img-fluid", alt: 'logo' %>
      </div>
      <!-- End Column 2 -->
      </div><!-- /Column 2 -->
       <!-- Column 3 -->

    </div>
  </div>
      </div> <!-- /Column 4 -->
     </div> <!--/row -->
  </div> <!--/image-grid -->
</div> <!--/about-content -->
