<div class="container">
        <div id="contact">
        <div class="contact-header">
          <h1>Get in Touch</h1>
        </div>

          <div class="col-md-4 col-xs-10">
           <div class="text">
             <p><span class="glyphicon glyphicon-earphone"></span> Call Us:</p><a href="#" class="buttons">+49-143-445254</a>
           </div>
          </div>

          <div class="col-md-4 col-xs-10">
           <div class="text">
             <p><span class="glyphicon glyphicon-envelope"></span> Or Email me:</p><a href="#" class="buttons">info@liebemaus.de</a>
           </div>
          </div>
        </div>
        <br>


        <form>
          <div class="row" id="contact-form">
            <div class="form-group col-xs-12 col-sm-6"><!-- Name field -->
              <label for="Name">*Name</label>
              <input placeholder="Enter your Name" type="text" class="form-control" required="required" autocomplete="name" name="Email" id="Name">
              <p id="visible-name"></p>
            </div>

             <div class="form-group col-xs-12 col-sm-3" id="emailbox"><!-- Email field -->
              <label for="Email">*Email address</label>
              <input placeholder="Enter your Email" type="email" class="form-control" required="required" autocomplete="email" name="Email" id="Email">
              <p id="visible-email"></p>
            </div>

            <div class="form-group col-xs-12 col-sm-3"><!-- Phone field -->
              <label for="Number">Phone Number</label>
              <input placeholder="Enter your Phone#" type="tel" class="form-control" autocomplete="tel" name="Phone" id="number">
              <p id="visible-number"></p>
            </div>

            <br>

            <div class="form-group col-xs-12 col-sm-3"><!-- submit button -->
            <button type="submit" class="btn btn-" id="button">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
