<p>Time check <%= Time.now%></p>
<div class="indexcontent">
  <%= image_tag("riomaggiore.jpg", class: "img-fluid about-img") %>
<div class="index-content">
<br>
  <h1>Welcome to LiebeMaus</h1>
  <p>The design is a combination of European and Asian elements that will bring the resort feeling to your homes or offices. All Products are designed and well thought by selected artisans in Philippines and Germany.</p>
</div>
  <p class="intro-text">Your source of inspiration for all sorts of Eurosian products and designs in Berlin</p>
</div><!--/index-content -->
