<h1>Home</h1>
<p>The date and time is <%= Time.now%></p>
<h1>Welcome to LiebeMausApp Berlin</h1>
<h2>Your source of inspiration for all sorts of Eurosian products and designs in Berlin</h2>
<%= image_tag("riomaggiore.jpg", class: "img-responsive") %>
