// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


* {
  box-sizing: border-box;
  font-family: 'Exo', Helvetica, Arial, sans-serif;
}

body {
  background-color: #f7f3ee;
  position: relative;
  font-family: 'Exo', Helvetica, Arial, sans-serif;
  color: #3d3c3c;
  margin: 0 0 0 0;
}


/* ============ Typography ============ */
h1 {
  font-family: 'Exo', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1.6em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #3d3c3c;
  margin-bottom: 4%;
}

 h1::before {
  content: '';
  position: absolute;
  width: 5em;
  height: 0.05em;
  margin-top: 1.2em;
  margin-left:-2%;
  margin-right: auto;
  background: #3d3c3c;
}

p {
  font-family: 'Exo', Helvetica, Arial, sans-serif;
  color: #3d3c3c;
  font-size: 1.15em;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  font-weight: 300;
}

h2 {
  font-family: 'Exo', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.2em;
}

a {
  font-family: 'Exo', Helvetica, Arial, sans-serif;
  color: #3d3c3c;
  font-weight: 300;
}

a:hover {
  color: grey;
  background-color: transparent;
}

a:visited {
  color: #3d3c3c;
  font-weight: 300;
}


/* ============ Navigation ============ */
.navbar {
  background-color: white !important;
  border-color: transparent;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
}

.navbar-brand {
  width: 70px;
}

button.navbar-toggler {
  border: 0px;
}

.navbar-light .navbar-toggler-icon {
background-image: url("Coloredhaus.jpg");
}

.navbar-light .navbar-nav .nav-link {
color: #3d3c3c;
}

.navbar-light .navbar-nav .nav-link:hover {
color: grey;
}

.navbar a, .dropdown-menu a, .dropdown-menu>li>a {
  letter-spacing: 0.07em;
  background-color: white !important;
  text-decoration: none;
  text-align: center;
  padding-bottom: 5%;
}

a.nav-link {
  color: #3d3c3c;
}

.header-nav {
  color: #3d3c3c;
}

/* ============ Index ============ */
.index-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

p.intro-text {
  width: 85%;
  text-align: center;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
}

#carouselExampleIndicators {
   margin-left: auto;
   margin-right: auto;
 }

.jumbotron-images {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.landing-carousel .carousel-indicators li {
  width: 10px;
  height: 10px;
  background-color: grey;
  border-radius: 50%;
}

.landing-carousel .carousel-indicators li.active {
  background-color: #3d3c3c;
}

.landing-carousel .carousel-caption {
  text-transform: uppercase;
  position: relative;
  right: auto;
  left: auto;
}

.landing-carousel h5 {
  font-size: 1em;
  color: #3d3c3c;
  padding-top: 1%;
}

.carousel-control-prev-icon {
  background-image: url("Peacockchair.png");
  height: 30px;
  width: 30px;
}

.carousel-control-next-icon {
  background-image: url("Voyagebed.png") !important;
  height: 30px;
  width: 30px;
}

/* ============ About ============ */
.about-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;

}

.image-grid {
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.5%;
  padding-left: 0%;
  padding-right: 0.3%;
}

p.about-text {
  text-align: justify;
  font-weight: 300;
  margin-bottom: 2%;
  margin-right: 5%;
}


/* ============ Order ============ */
.order-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.order-img {
  width: 120px;
  float: left;
}

.order-description {
  background-color: white;
  width: 500px;
  min-height: 120px;
}

.order-description p {
  padding-left: 130px;
  padding-top: 5px;
  font-size: 1em;
}

.order-price {
  width: 500px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 30px;
}

.order-info {
  background-color: white;
  padding: 4%;
  margin-left: auto;
  margin-right: auto;
}

.order-info p {
  font-size: 1.1em;
  font-weight: normal;
}

#total-price {
  font-size: 1.5em;
}

#total-price::before {
  content: '';
  position: absolute;
  width: 8em;
  height: 0.08em;
  background: #3d3c3c;
}

/* ============ Contact ============ */
.contact-content {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

p.contact-text {
  width: 85%;
  margin-bottom: 2%;
}

.form-control {
  background-color: white;
  border: none;
  font-weight: lighter;
  font-size: 1em;
}

.form-row-one {
  width: 49.5%;
  display: inline-block;
}

.map-img {
  padding-top: 3%;
}

.contact-label {
  color: #3d3c3c;
  font-size: 1em;
  font-weight: 300;
}

#contact-button {
  background-color: #3d3c3c;
  color: #f7f3ee;
  font-size: 1em;
  text-transform: uppercase;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: 3%;
}


/* ============ Footer ============ */
#footer-content {
  background-color: #3d3c3c!important;
  margin-top: 3%;
  padding-top: 1%;
  width: 100%;
}

.footer-menu {
  color: white!important;
  font-size: 0.8em;
  line-height: 0.6em;
  border-left: 1px solid white;
  padding-bottom: 3%;
}

.footermenu a {
  color: white;
}

.footermenu p {
  color: white;
  font-weight: bold;
  padding: .5rem 1rem;
}

.footer-nav {
  color: white!important;
}

.footer-title {
  color: white!important;
  font-weight: bold;
  padding-left: 1em;
}

#copyright {
  text-align: center;
  padding-bottom: 1%;
  padding-top: 1%;
  background-color: white;
}

#copyright-text {
  color: black!important;
  font-size: 0.8em;
}

.socialmedia {
  vertical-align: bottom;
  display: inline;
  width: 50px;
}

#socialmedia-1 {
  float:left;
  display: inline;
  width: 50px;
  margin-left: 1rem;
}

#socialmedia-2 {
  float:left;
  display: inline;
  width: 50px;
  margin-left: 1rem;
}

#socialmedia-3 {
  float:left;
  display: inline;
  width: 50px;
  margin-left: 1rem;
}

.footer-logo {
  width: 80px;
  margin-left: 1rem;
  margin-top: 1rem;
}


/* ============ Media Queries ============ */
@media only screen and (max-width: 991px) {
  .navbar-expand {
    margin-top: 30px;
  }

  .navbar a, .dropdown-menu a, .dropdown-menu>li>a {
    font-size: 2em;
  }

  h1 {
    margin-bottom: 7%;
  }

  p.intro-text {
    width: 100%;
    text-align: justify;
    letter-spacing: 0.0015em;
    margin-bottom: 4%;
  }

  p.about-text {
    width: 100%;
    text-align: justify;
    letter-spacing: 0.0015em;
    margin-bottom: 4%;
    margin-right: 0;
  }

  p.contact-text {
    width: 100%;
    text-align: justify;
    letter-spacing: 0.0015em;
    margin-bottom: 8%;
  }

  .order-description {
    background-color: white;
    width: 100%;
    min-height: 120px;
  }

  .order-description p {
    padding-left: 130px;
    padding-top: 5px;
    font-size: 1em;
  }

  .order-price {
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .order-table {
    margin-left: auto;
    margin-right: auto;
  }

  .footer-menu {
    font-size: 0.8em;
    line-height: 0.6em;
    border-bottom: 1px solid white;
    border-left: 0px;
    padding-bottom: 3%;
  }

  .footer-menu p {
    margin-top: 3%;
  }
}
